
@{
    ViewBag.Title = "Sites For Bid";
    ViewBag.MainMenu = "mSite";
    ViewBag.SubMenu = "sAssignedSites";
}

@section controller{
    <script src="~/Angular/controllers/supervisor/AssignedSites.js"></script>
}
<style>
    #Projectdetail {
        width: 110px;
        cursor: pointer;
        color: cornflowerblue;
    }

        #Projectdetail:hover {
            text-decoration: underline
        }
</style>
<div ng-controller="supervisor_AssignedSites">

    <form autocomplete="off">

        <div class="row">
            <div class="col-md-3">
                <div class="form-group m-form__group">
                    <input class="form-control m-input form-control-sm" placeholder="Project" ng-model="searchModel.projectName" name="projectName" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group m-form__group">
                    <input class="form-control m-input form-control-sm" placeholder="Site" ng-model="searchModel.siteName" name="siteName" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group m-form__group">
                    <input class="form-control m-input form-control-sm" placeholder="Assigned Date" ng-model="searchModel.assignedDate" name="assignedDate" id="m_datepicker_7" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group m-form__group">
                    <button type="button" ng-click="search()" class="btn btn-brand m-btn m-btn--custom btn-sm">
                        Search
                    </button>
                    <button type="button" ng-click="clearSearch()" class="btn btn-danger m-btn m-btn--custom btn-sm">
                        Clear
                    </button>
                </div>
            </div>
        </div>
    </form>




    <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" id="local_data" style="position: static; zoom: 1;">
        <table class="m-datatable__table" style="display: block; min-height: 300px; overflow-x: auto;">
            <thead class="m-datatable__head">
                <tr class="m-datatable__row">
                    <th data-field="Project" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Project</span></th>
                    <th data-field="Site" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Site</span></th>
                    <th data-field="Opening Date" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Assigned Date</span></th>
                    <th data-field="# of Vehicles" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;"># of Jobs (Vehicles)</span></th>
                    @*<th data-field="Bid" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Status</span><th>*@
                </tr>
            </thead>
            <tbody class="m-datatable__body" style="">
                <tr ng-if="totalCount <= 0" class="no-records-row">
                    <td>
                        No records found
                    </td>
                </tr>
                <tr data-row="0" class="m-datatable__row" style="left: 0px;" ng-repeat="site in assignedSites">


                    @*<td data-field="Project" class="m-datatable__cell"><span style="width: 110px;">{{site.ProjectName}}</span></td>*@
                    <td data-field="Project" class="m-datatable__cell">
                        <span id="Projectdetail" ng-click="ProjectAgainstSite(site.SiteId)">
                            {{site.ProjectName}}
                        </span>
                    </td>
                    <td data-field="Site" class="m-datatable__cell"><span style="width: 110px;">{{site.SiteName}}</span></td>
                    <td data-field="Opening Date" class="m-datatable__cell"><span style="width: 110px;">{{site.AssignedDate | dateFormat}}</span></td>

                    <td data-field="# of Vehicles" class="m-datatable__cell">
                        <span style="width: 110px;" ng-if="(site.vechicleCount != 0)">
                            <button ng-click="vehicleDetailsModal(site.SiteId)" class="btn btn-link">
                                {{site.vechicleCount}}
                            </button>
                        </span>
                        <span style="width: 110px;" ng-if="(site.vechicleCount == 0)">
                            <a style="cursor: default" class="btn btn-link">{{site.vechicleCount}}</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
            <ul class="m-datatable__pager-nav">
                <li>
                    <a title="First" ng-click="firstPage()"
                       class="m-datatable__pager-link m-datatable__pager-link--first"
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == 1}"><i class="la la-angle-double-left"></i></a>
                </li>
                <li>
                    <a title="Previous" ng-click="previousPage()"
                       class="m-datatable__pager-link m-datatable__pager-link--prev "
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == 1}"><i class="la la-angle-left"></i></a>
                </li>

                <li ng-repeat="i in [] | range:numOfPages" ng-if="(i <= maxSize)">
                    <a class="m-datatable__pager-link m-datatable__pager-link-number"
                       ng-class="{'m-datatable__pager-link--active': i == pageIndex}"
                       ng-click="pageChanged(i)">{{i}}</a>
                </li>

                <li ng-if="rightHide">
                    <a title="More pages" ng-click="morePages()" class="m-datatable__pager-link m-datatable__pager-link--more-prev">
                        <i class="la la-ellipsis-h"></i>
                    </a>
                </li>

                <li>
                    <a title="Next" ng-click="nextPage()" class="m-datatable__pager-link m-datatable__pager-link--next"
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == numOfPages}"><i class="la la-angle-right"></i></a>
                </li>
                <li>
                    <a title="Last" ng-click="lastPage()" class="m-datatable__pager-link m-datatable__pager-link--last"
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == numOfPages}"><i class="la la-angle-double-right"></i></a>
                </li>
            </ul>
            <div class="m-datatable__pager-info">
                <div style="width:100px" class="pull-left mr-2">
                    <select id="drpPage" class="form-control form-control-sm" ng-model="pageSizeSelected" ng-change="changePageSize()">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div class="pull-right mt-1">
                    <span class="m-datatable__pager-detail">Displaying {{((pageIndex -1) * pageSizeSelected) + 1}} - {{pageIndex * pageSizeSelected > totalCount ? totalCount : pageIndex * pageSizeSelected}} of {{totalCount}} records</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="vehicle-details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:500px">
            <div class="modal-content">
                <div class="modal-header" style="padding: 20px !important">
                    <h5 class="modal-title" id="exampleModalLongTitle">Vehicle Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group row" ng-repeat="vehicles in VehiclesType">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Vehicle Type</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{vehicles.VehicleTypeName}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>#of Vehicles</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{vehicles.Vehicles}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Side(Inches)</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{vehicles.SideWidth}}</label><b>x</b><label>{{vehicles.SideHeight}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Front(Inches)</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{vehicles.FrontWidth}}</label><b>x</b><label>{{vehicles.FrontHeight}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Rear(Inches)</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{vehicles.RearWidth}}</label><b>x</b><label>{{vehicles.RearHeight}}</label>
                        </div>
                    </div>
                    @*<div class="form-group m-form__group row" ng-repeat="vehicles in VehiclesType">
                            <div class="col-lg-3">
                                <label>{{vehicles.VehicleTypeName}}</label>
                            </div>
                            <div class="col-lg-3">
                                <label>{{vehicles.Vehicles}}</label>
                            </div>
                            <div class="col-lg-2">
                                <label>{{vehicles.SideWidth}}</label><b>x</b><label>{{vehicles.SideHeight}}</label>
                            </div>
                            <div class="col-lg-2">
                                <label>{{vehicles.FrontWidth}}</label><b>x</b><label>{{vehicles.FrontHeight}}</label>
                            </div>
                            <div class="col-lg-2">
                                <label>{{vehicles.RearWidth}}</label><b>x</b><label>{{vehicles.RearHeight}}</label>
                            </div>
                        </div>*@
                </div>
                <div class="modal-footer" style="padding: 12px !important">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ProjectDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:500px">
            <div class="modal-content">
                <div class="modal-header p-2 pl-3">
                    <h5 class="modal-title">Project Detail</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group row" ng-repeat="Project in Projects">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Project</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{Project.Name}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Fleet_Owner</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{Project.FleetOwnerName}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Contact_Name</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{Project.ContactName}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Contact_Phone</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{Project.ContactPhone}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Address</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{Project.Address}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Status</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <span style="width: 110px;">
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="Project.Status == '0'">
                                    Active
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="Project.Status == '1'">
                                    InActive
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="Project.Status == '2'">
                                    Pending
                                </span>
                            </span>
                        </div>
                    </div>
                    @*<div class="form-group m-form__group row" ng-repeat="Project in Projects">
                            <div class="col-lg-2">
                                <label>{{Project.Name}}</label>
                            </div>
                            <div class="col-lg-2">
                                <label>{{Project.FleetOwnerName}}</label>
                            </div>
                            <div class="col-lg-2">
                                <label>{{Project.ContactName}}</label>
                            </div>
                            <div class="col-lg-2">
                                <label>{{Project.ContactPhone}}</label>
                            </div>
                            <div class="col-lg-2">
                                <label>{{Project.Address}}</label>
                            </div>
                            <div class="col-lg-2">
                                <span style="width: 110px;">
                                    <span class="m-badge pl-3 m-badge--success pr-3" ng-if="Project.Status == '0'">
                                        Active
                                    </span>
                                    <span class="m-badge pl-3 m-badge--success pr-3" ng-if="Project.Status == '1'">
                                        InActive
                                    </span>
                                    <span class="m-badge pl-3 m-badge--success pr-3" ng-if="Project.Status == '2'">
                                        Pending
                                    </span>
                                </span>
                            </div>
                        </div>*@
                </div>
                <div class="modal-footer">
                    <div>
                        <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#ProjectDetail">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {

    });
    //var vehicleDetailsModal = () => {
    //    $("#vehicle-details-modal").modal('show');
    //};
</script>
<script>
    $('#m_datepicker_7').on('changeDate', function (ev) {
        $(this).datepicker('hide');
    });
</script>
<script src="~/Theme/js/data-local.js"></script>
