
@{
    ViewBag.Title = "SiteBidList";
    ViewBag.MainMenu = "mProject";
    ViewBag.SubMenu = "sSiteBidList";
}

@section controller{
        <script src="~/Angular/controllers/site/site-bidList.js"></script>
    }
<div ng-controller="site_bidList">
    <h4 class="link-heading"><a href="/Site/SiteList">@ViewBag.SiteName</a> | Bids</h4>


    <form autocomplete="off">

        <div class="row">
            <div class="col-md-3">
                <div class="form-group m-form__group">
                    <input class="form-control m-input form-control-sm" placeholder="Installer" ng-model="searchModel.installer" name="installer" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group m-form__group">
                    <input class="form-control m-input form-control-sm" placeholder="Bid Date" ng-model="searchModel.bidDate" name="bidDate"  id="m_datepicker_7"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group m-form__group">
                    <input class="form-control m-input form-control-sm" placeholder="Bid Price" ng-model="searchModel.bidPrice" name="bidPrice" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group m-form__group">
                    <button type="button" ng-click="search()" class="btn btn-brand m-btn m-btn--custom btn-sm">
                        Search
                    </button>
                    <button type="button" ng-click="clearSearch()" class="btn btn-danger m-btn m-btn--custom btn-sm">
                        Clear
                    </button>
                </div>
            </div>
        </div>
    </form>



    <input type="hidden" name="siteId" id="siteId" value="@Model" />
    <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" id="local_data" style="position: static; zoom: 1;">
        <table class="m-datatable__table" style="display: block; min-height: 300px; overflow-x: auto;">
            <thead class="m-datatable__head">
                <tr class="m-datatable__row">

                    <th data-field="Installer" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Installer</span></th>
                    <th data-field="Bid Date" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Bid Date</span></th>
                    <th data-field="Bid Price" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Bid Price</span></th>
                    <th data-field="Comment" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Comment</span></th>
                    <th data-field="Status" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Status</span></th>
                    <th data-field="Actions" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Actions</span></th>
                </tr>
            </thead>
            <tbody class="m-datatable__body" style="">
                <tr ng-if="sites.length == 0" class="no-records-row">
                    <td>
                        No records found
                    </td>
                </tr>
                <tr data-row="0" class="m-datatable__row" style="left: 0px;" ng-repeat="site in sites">
                    <td data-field="Installer" class="m-datatable__cell"><span style="width: 110px;">{{site.InstallerName}}</span></td>
                    <td data-field="Bid Date" class="m-datatable__cell"><span style="width: 110px;">{{site.date | dateFormat}}</span></td>
                    <td data-field="Installer" class="m-datatable__cell"><span style="width: 110px;">{{site.Price}}</span></td>
                    <td data-field="Installer" class="m-datatable__cell"><span style="width: 110px;">{{site.Comments}}</span></td>
                    <td data-field="Status" class="m-datatable__cell">
                        <span style="width: 110px;">
                            <span class="m-badge pl-3 m-badge--warning pr-3" ng-if="site.Status == '0'">
                                Pending
                            </span>
                            <span class="m-badge pl-3 m-badge--success pr-3" ng-if="site.Status == '1'">
                                Awarded
                            </span>
                            <span class="m-badge pl-3 m-badge--success pr-3" ng-if="site.Status == '2'">
                                Assigned
                            </span>
                            <span class="m-badge pl-3 m-badge--danger pr-3" ng-if="site.Status == '3'">
                                Rejected
                            </span>
                        </span>
                    </td>
                    <td data-field="Actions" class="m-datatable__cell">
                        <span style="overflow: visible; position: relative; width: 110px;">
                            <button ng-disabled="site.Status != 0" id="{{site.Id}}" class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill" ng-click="awardSite(site.Id +'-'+ site.SiteId)" title="Award ">
                                <i class="la la-check"></i>
                            </button>
                            <button ng-disabled="site.Status != 0" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" ng-click="rejectSite(site.Id +'-'+ site.SiteId)" title="Reject ">
                                <i class="la la-remove"></i>
                            </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
            <ul class="m-datatable__pager-nav">
                <li>
                    <a title="First" ng-click="firstPage()"
                       class="m-datatable__pager-link m-datatable__pager-link--first"
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == 1}"><i class="la la-angle-double-left"></i></a>
                </li>
                <li>
                    <a title="Previous" ng-click="previousPage()"
                       class="m-datatable__pager-link m-datatable__pager-link--prev "
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == 1}"><i class="la la-angle-left"></i></a>
                </li>

                <li ng-repeat="i in [] | range:numOfPages" ng-if="(i <= maxSize)">
                    <a class="m-datatable__pager-link m-datatable__pager-link-number"
                       ng-class="{'m-datatable__pager-link--active': i == pageIndex}"
                       ng-click="pageChanged(i)">{{i}}</a>
                </li>

                <li ng-if="rightHide">
                    <a title="More pages" ng-click="morePages()" class="m-datatable__pager-link m-datatable__pager-link--more-prev">
                        <i class="la la-ellipsis-h"></i>
                    </a>
                </li>

                <li>
                    <a title="Next" ng-click="nextPage()" class="m-datatable__pager-link m-datatable__pager-link--next"
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == numOfPages}"><i class="la la-angle-right"></i></a>
                </li>
                <li>
                    <a title="Last" ng-click="lastPage()" class="m-datatable__pager-link m-datatable__pager-link--last"
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == numOfPages}"><i class="la la-angle-double-right"></i></a>
                </li>
            </ul>
            <div class="m-datatable__pager-info">
                <div style="width:100px" class="pull-left mr-2">
                    <select id="drpPage" class="form-control form-control-sm" ng-model="pageSizeSelected" ng-change="changePageSize()">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div class="pull-right mt-1">
                    <span class="m-datatable__pager-detail">Displaying {{((pageIndex -1) * pageSizeSelected) + 1}} - {{pageIndex * pageSizeSelected > totalCount ? totalCount : pageIndex * pageSizeSelected}} of {{totalCount}} records</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#m_datepicker_7').on('changeDate', function (ev) {
        $(this).datepicker('hide');
    });
</script>