
@{
    ViewBag.Title = "Site List";
    ViewBag.MainMenu = "mProject";
    ViewBag.SubMenu = "sSiteList";
}
@section controller {
    <script src="~/Angular/controllers/StatusLogs/Logs.js"></script>
}
<style>
    #Projectdetail {
        width: 110px;
        cursor: pointer;
        color: cornflowerblue;
    }
    #Projectdetail:hover{
        text-decoration:underline
    }
</style>
<div ng-controller="Logs">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group m-form__group">
                        <input type="text" class="form-control form-control-sm" placeholder="Fleet Owner Name" ng-model="searchModel.fleetOwnerName">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group m-form__group">
                        <input type="text" class="form-control form-control-sm" placeholder="Project Name" ng-model="searchModel.projectName">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group m-form__group">
                        <input type="text" class="form-control form-control-sm" placeholder="Site Name" ng-model="searchModel.siteName">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group m-form__group">
                        <input type="text" class="form-control form-control-sm" placeholder="PO Number" ng-num="15" ng-model="searchModel.po">
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-2">
            <div class="form-group m-form__group">
                <button ng-click="search()" type="button" class="btn btn-brand m-btn m-btn--custom btn-sm">
                    Search
                </button>
                <button type="button" ng-click="clearSearch()" class="btn btn-danger m-btn m-btn--custom btn-sm">
                    Clear
                </button>
            </div>
        </div>
    </div>



    <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" id="local_data" style="position: static; zoom: 1;">
        <table class="m-datatable__table" style="display: block; min-height: 300px; overflow-x: auto;">
            <thead class="m-datatable__head">
                <tr class="m-datatable__row">
                    <th data-field="FleetOwner" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Fleet Owner</span></th>
                    <th data-field="Project" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Project</span></th>
                    <th data-field="Site Name" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Site Name</span></th>
                    <th data-field="PO #" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">PO #</span></th>
                    <th data-field="Vehicle Details" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 60px;">Vehicle Details</span></th>
                    <th data-field="Vehicles" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 60px;">Jobs</span></th>
                    <th data-field="Status" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Status</span></th>
                    <th data-field="Actions" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 90px;">Actions</span></th>
                </tr>
            </thead>
            <tbody class="m-datatable__body" style="">
                <tr ng-if="sitesStatus.length == 0" class="no-records-row">
                    <td>
                        No records found
                    </td>
                </tr>
                <tr data-row="0" class="m-datatable__row" style="left: 0px;" ng-repeat="site in sitesStatus">
                    <td data-field="FleetOwner" class="m-datatable__cell"><span style="width: 110px;">{{site.FleetOwnerName}}</span></td>
                    <td data-field="Project" class="m-datatable__cell">
                        <span id="Projectdetail" ng-click="ProjectAgainstSite(site.Id)">
                            {{site.ProjectName}}
                        </span>
                    </td>
                    <td data-field="Site Name" class="m-datatable__cell"><span style="width: 110px;">{{site.Name}}</span></td>
                    <td data-field="PO #" class="m-datatable__cell">
                        <span ng-if="site.PONo != null || site.PONo != ''" style="width: 100px;">{{site.PONo}}</span>
                        <span ng-if="site.PONo == null || site.PONo == ''" style="width: 100px;">-</span>
                    </td>
                    <td data-field="Vehicle Types" class="m-datatable__cell">
                        <span style="width: 60px;" ng-if="site.TotalVehicleTypes != 0">
                            <a href="/SiteVehicleType/Types/{{site.Id}}${{site.Name}}${{IsModificationDisabled(site.SiteStatus)}}" class="btn btn-link">{{site.TotalVehicleTypes}}</a>
                        </span>
                        <span style="width: 60px;" ng-if="site.TotalVehicleTypes == 0">
                            <a style="cursor: default" class="btn btn-link">{{site.TotalVehicleTypes}}</a>
                        </span>
                    </td>
                    <td data-field="Vehicles" class="m-datatable__cell"><span style="width: 60px;">{{site.TotalVehicles}}</span></td>

                    <td data-field="Status" class="m-datatable__cell">
                        <span style="width: 110px;">
                            <span class="m-badge pl-3 m-badge--warning pr-3" ng-if="site.SiteStatus == '0'">
                                {{SiteStatusName}}
                            </span>
                            <span class="m-badge pl-3 m-badge--success pr-3" ng-if="site.SiteStatus == '1'">
                                {{SiteStatusName = 'Open For Bid'}}
                            </span>
                            <span class="m-badge pl-3 m-badge--success pr-3" ng-if="site.SiteStatus == '2'">
                                {{SiteStatusName = 'Awarded'}}
                            </span>
                            <span class="m-badge pl-3 m-badge--wide pr-3" ng-if="site.SiteStatus == '3'">
                                {{SiteStatusName = 'Assigned'}}
                            </span>
                            <span class="m-badge pl-3 m-badge--warning pr-3" ng-if="site.SiteStatus == '4'">
                                {{SiteStatusName = 'In Process'}}
                            </span>
                            <span class="m-badge pl-3 m-badge--wide pr-3" ng-if="site.SiteStatus == '5'">
                                {{SiteStatusName = 'ReadyForInvoice'}}
                            </span>
                            <span class="m-badge pl-3 m-badge--success pr-3" ng-if="site.SiteStatus == '6'">
                                {{SiteStatusName = 'Invoiced'}}
                            </span>
                            <span class="m-badge pl-3 m-badge--success pr-3" ng-if="site.SiteStatus == '7'">
                                {{SiteStatusName = 'Closed For Bid'}}
                            </span>
                        </span>
                    </td>
                    <td data-field="Actions" class="m-datatable__cell">
                        <span style="overflow: visible; position: relative; width: 90px;">
                            <span class="dropdown ">
                                <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">
                                    <i class="la la-ellipsis-h"></i>
                                </a>
                                <span class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" ng-if="site.SiteStatus == 0" href="/Site/EditSite/{{site.Id}}">
                                        <i class="la la-edit"></i> Edit Details
                                    </a>


                                    <a class="dropdown-item" ng-if="(site.TotalVehicles != 0) && ( site.SiteStatus == 0 || site.SiteStatus == 7)" ng-click="StuatsOpenForBid(site.Id)" href="#">
                                        <i class="la la-check-circle"></i> Enable Bidding
                                    </a>
                                    <a class="dropdown-item" ng-if="(site.TotalVehicles == 0) && ( site.SiteStatus == 0 || site.SiteStatus == 7)" href="#" style="cursor:not-allowed">
                                        <i class="la la-check-circle"></i> Enable Bidding
                                    </a>


                                    <a class="dropdown-item" ng-if="site.SiteStatus == 1" ng-click="StuatsClosedForBid(site.Id)" href="#">
                                        <i class="la la-check-circle"></i> Close Bidding
                                    </a>
                                    <a ng-if="site.TotalBids != 0" class="dropdown-item" href="/Site/SiteBidList/{{site.Id}}${{site.Name}}">
                                        <i class="la la-list"></i> Bids Details
                                    </a>


                                    <a class="dropdown-item" href="/SiteVehicleType/Types/{{site.Id}}${{site.Name}}${{IsModificationDisabled(site.SiteStatus)}}">
                                        <i class="la la-list"></i> Vehicle Details
                                    </a>

                                    <a class="dropdown-item" href="#" ng-click="ViewLogs(site.Id)">
                                        <i class="la la-list"></i> View Logs
                                    </a>

                                    @*<a ng-if="site.SiteStatus == 0 || site.SiteStatus == 7" class="dropdown-item" href="/SiteVehicleType/AddType/{{site.Id}}${{site.Name}}">
                                            <i class="la la-plus-circle"></i> Add Vehicle Details
                                        </a>
                                        <a ng-if="site.SiteStatus == 1 || site.SiteStatus == 2 || site.SiteStatus == 3 || site.SiteStatus == 4 || site.SiteStatus == 5 || site.SiteStatus == 6" class="dropdown-item" href="#" style="cursor:not-allowed">
                                            <i class="la la-plus-circle"></i> Add Vehicle Details
                                        </a>*@
                                </span>
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
            <ul class="m-datatable__pager-nav">
                <li>
                    <a title="First" ng-click="firstPage()"
                       class="m-datatable__pager-link m-datatable__pager-link--first"
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == 1}"><i class="la la-angle-double-left"></i></a>
                </li>
                <li>
                    <a title="Previous" ng-click="previousPage()"
                       class="m-datatable__pager-link m-datatable__pager-link--prev "
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == 1}"><i class="la la-angle-left"></i></a>
                </li>

                <li ng-repeat="i in [] | range:numOfPages" ng-if="(i <= maxSize)">
                    <a class="m-datatable__pager-link m-datatable__pager-link-number"
                       ng-class="{'m-datatable__pager-link--active': i == pageIndex}"
                       ng-click="pageChanged(i)">{{i}}</a>
                </li>

                <li ng-if="rightHide">
                    <a title="More pages" ng-click="morePages()" class="m-datatable__pager-link m-datatable__pager-link--more-prev">
                        <i class="la la-ellipsis-h"></i>
                    </a>
                </li>

                <li>
                    <a title="Next" ng-click="nextPage()" class="m-datatable__pager-link m-datatable__pager-link--next"
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == numOfPages}"><i class="la la-angle-right"></i></a>
                </li>
                <li>
                    <a title="Last" ng-click="lastPage()" class="m-datatable__pager-link m-datatable__pager-link--last"
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == numOfPages}"><i class="la la-angle-double-right"></i></a>
                </li>
            </ul>
            <div class="m-datatable__pager-info">
                <div style="width:100px" class="pull-left mr-2">
                    <select id="drpPage" class="form-control form-control-sm" ng-model="pageSizeSelected" ng-change="changePageSize()">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div class="pull-right mt-1">
                    <span class="m-datatable__pager-detail">Displaying {{((pageIndex -1) * pageSizeSelected) + 1}} - {{pageIndex * pageSizeSelected > totalCount ? totalCount : pageIndex * pageSizeSelected}} of {{totalCount}} records</span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ProjectDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:500px">
            <div class="modal-content">
                <div class="modal-header p-2 pl-3">
                    <h5 class="modal-title">Project Detail</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group row" ng-repeat="Project in Projects">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Project</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{Project.Name}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Fleet_Owner</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{Project.FleetOwnerName}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Contact_Name</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{Project.ContactName}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Contact_Phone</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{Project.ContactPhone}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Address</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{Project.Address}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Status</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <span style="width: 110px;">
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="Project.Status == '0'">
                                    Active
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="Project.Status == '1'">
                                    InActive
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="Project.Status == '2'">
                                    Pending
                                </span>
                            </span>
                        </div>
                    </div>
                    @*<div class="form-group m-form__group row" ng-repeat="Project in Projects">
                            <div class="col-lg-2">
                                <label>{{Project.Name}}</label>
                            </div>
                            <div class="col-lg-2">
                                <label>{{Project.FleetOwnerName}}</label>
                            </div>
                            <div class="col-lg-2">
                                <label>{{Project.ContactName}}</label>
                            </div>
                            <div class="col-lg-2">
                                <label>{{Project.ContactPhone}}</label>
                            </div>
                            <div class="col-lg-2">
                                <label>{{Project.Address}}</label>
                            </div>
                            <div class="col-lg-2">
                                <span style="width: 110px;">
                                    <span class="m-badge pl-3 m-badge--success pr-3" ng-if="Project.Status == '0'">
                                        Active
                                    </span>
                                    <span class="m-badge pl-3 m-badge--success pr-3" ng-if="Project.Status == '1'">
                                        InActive
                                    </span>
                                    <span class="m-badge pl-3 m-badge--success pr-3" ng-if="Project.Status == '2'">
                                        Pending
                                    </span>
                                </span>
                            </div>
                        </div>*@
                </div>
                <div class="modal-footer">
                    <div>
                        <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#ProjectDetail">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="View-Log-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:500px">
            <div class="modal-content">
                <div class="modal-header p-2 pl-3">
                    <h5 class="modal-title">View Log Detail</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group row" ng-repeat="item in logs">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>VIN</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{item.Id}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>LPN</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{item.Id}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Unit#</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{item.Id}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Job Status</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <span style="width: 100px;text-align:center">
                                <span class="m-badge pl-3 m-badge--warning pr-3" ng-if="item.SiteStatus == '0'">
                                    Pendning
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="item.SiteStatus == '1'">
                                    InQueue
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="item.SiteStatus == '2'">
                                    InProcess
                                </span>
                                <span class="m-badge pl-3 m-badge--wide pr-3" ng-if="item.SiteStatus == '3'">
                                    UnderReview
                                </span>
                                <span class="m-badge pl-3 m-badge--warning pr-3" ng-if="item.SiteStatus == '4'">
                                    UnderReview
                                </span>
                                <span class="m-badge pl-3 m-badge--wide pr-3" ng-if="item.SiteStatus == '5'">
                                    IncidentReported
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="item.SiteStatus == '6'">
                                    SentForRepair
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="item.SiteStatus == '7'">
                                    Completed
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="item.SiteStatus == '8'">
                                    Rejected
                                </span>
                            </span>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#View-Log-Modal" ">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Job-In-Progress-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:500px">
            <div class="modal-content">
                <div class="modal-header p-2 pl-3">
                    <h5 class="modal-title">Job In Progress Detail</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group row" ng-repeat="item in InProg">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>VIN</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{item.VIN}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>LPN</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{item.LPN}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Unit#</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{item.UnitNo}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Job Status</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <span style="width: 100px;text-align:center">
                                <span class="m-badge pl-3 m-badge--warning pr-3" ng-if="item.Status == '0'">
                                    Pendning
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="item.Status == '1'">
                                    InQueue
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="item.Status == '2'">
                                    InProcess
                                </span>
                                <span class="m-badge pl-3 m-badge--wide pr-3" ng-if="item.Status == '3'">
                                    UnderReview
                                </span>
                                <span class="m-badge pl-3 m-badge--warning pr-3" ng-if="item.Status == '4'">
                                    UnderReview
                                </span>
                                <span class="m-badge pl-3 m-badge--wide pr-3" ng-if="item.Status == '5'">
                                    IncidentReported
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="item.Status == '6'">
                                    SentForRepair
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="item.Status == '7'">
                                    Completed
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="item.Status == '8'">
                                    Rejected
                                </span>
                            </span>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#Job-In-Progress-Modal">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Job-Completed-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:500px">
            <div class="modal-content">
                <div class="modal-header p-2 pl-3">
                    <h5 class="modal-title">Job Completed Detail</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group row" ng-repeat="item in Complete">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>VIN</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{item.VIN}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>LPN</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{item.LPN}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Unit#</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{item.UnitNo}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Job Status</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <span style="width: 100px;text-align:center">
                                <span class="m-badge pl-3 m-badge--warning pr-3" ng-if="item.Status == '0'">
                                    Pendning
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="item.Status == '1'">
                                    InQueue
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="item.Status == '2'">
                                    InProcess
                                </span>
                                <span class="m-badge pl-3 m-badge--wide pr-3" ng-if="item.Status == '3'">
                                    UnderReview
                                </span>
                                <span class="m-badge pl-3 m-badge--warning pr-3" ng-if="item.Status == '4'">
                                    UnderReview
                                </span>
                                <span class="m-badge pl-3 m-badge--wide pr-3" ng-if="item.Status == '5'">
                                    IncidentReported
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="item.Status == '6'">
                                    SentForRepair
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="item.Status == '7'">
                                    Completed
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="item.Status == '8'">
                                    Rejected
                                </span>
                            </span>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#Job-Completed-Modal">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Job-Under-Review-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:500px">
            <div class="modal-content">
                <div class="modal-header p-2 pl-3">
                    <h5 class="modal-title">Job Under Review Detail</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group row" ng-repeat="item in UnderReviews">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>VIN</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{item.VIN}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>LPN</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{item.LPN}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Unit#</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <label>{{item.UnitNo}}</label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <label><b>Job Status</b></label>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <span style="width: 100px;text-align:center">
                                <span class="m-badge pl-3 m-badge--warning pr-3" ng-if="item.Status == '0'">
                                    Pendning
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="item.Status == '1'">
                                    InQueue
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="item.Status == '2'">
                                    InProcess
                                </span>
                                <span class="m-badge pl-3 m-badge--wide pr-3" ng-if="item.Status == '3'">
                                    UnderReview
                                </span>
                                <span class="m-badge pl-3 m-badge--warning pr-3" ng-if="item.Status == '4'">
                                    UnderReview
                                </span>
                                <span class="m-badge pl-3 m-badge--wide pr-3" ng-if="item.Status == '5'">
                                    IncidentReported
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="item.Status == '6'">
                                    SentForRepair
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="item.Status == '7'">
                                    Completed
                                </span>
                                <span class="m-badge pl-3 m-badge--success pr-3" ng-if="item.Status == '8'">
                                    Rejected
                                </span>
                            </span>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#Job-Under-Review-Modal">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>