@model int?
@{
    ViewBag.Title = "Change Password";
    ViewBag.MainMenu = "mLogin";
}

@section controller {
    <script src="~/Angular/controllers/userLogin/change-password-login.js"></script>
}

<input type="hidden" name="id" id="id" value="@Model" />
<form ng-controller="change_password" autocomplete="off" name="frm">
    <h4>Changed Password</h4> <hr />
    <div class="form-group m-form__group row">
        <div class="col-lg-4">
            <label class="mandatory">User Name</label>
            <input type="text" class="form-control m-input" name="username" ng-model="login.Username" disabled />
            <span class="text-danger" ng-show="(frm.username.$touched || frm.username.$dirty && frm.username.$invalid)">
                <span ng-show="frm.username.$error.required">Enter user name</span>
            </span>
        </div>
    </div>
    <div class="form-group m-form__group row">

        <div class="col-lg-4">
            <label class="mandatory">Password</label>
            <input type="password" class="form-control m-input" name="password" ng-model="login.Password" required />
            <span class="text-danger" ng-show="(frm.password.$touched || frm.password.$dirty && frm.password.$invalid)">
                <span ng-show="frm.password.$error.required">Enter password</span>
            </span>
        </div>
        <div class="col-lg-4">
            <label class="mandatory">Confirm Password</label>
            <input type="password" class="form-control m-input" name="confirmPassword" ng-model="login.ConfirmPassword" required />
            <span class="text-danger" ng-show="(frm.confirmPassword.$touched || frm.confirmPassword.$dirty && frm.confirmPassword.$invalid)">
                <span ng-show="frm.confirmPassword.$error.required">Enter confrim password</span>
                <span class="text-danger" ng-show="login.ConfirmPassword != '' && login.ConfirmPassword != null  && login.Password != login.ConfirmPassword">Password doesn't match</span>
            </span>
        </div>
    </div>
    <div class="form-group m-form__group">
        <button ng-disabled="frm.$invalid || (login.Password != login.ConfirmPassword)" ng-click="update()" class="btn m-btn--square btn-success">Submit</button>
        <a href="/UserLogin/LoginList" class="btn m-btn--square btn-danger">Cancel</a>
        <p class="text-danger" style="display:none">Please fill all mandatory fields</p>
    </div>
</form>