@model int?
@{
    ViewBag.Title = "Edit Project";
    ViewBag.MainMenu = "mProject";
    ViewBag.SubMenu = "sEditProject";
}

@section controller {
    <script src="~/Angular/controllers/project/project-edit.js"></script>
}

<input type="hidden" name="id" id="id" value="@Model" />
<form ng-controller="project_edit" autocomplete="off" name="frm">
    <h4>Profile Information</h4> <hr />
    <div class="form-group m-form__group row">
        <div class="col-lg-4">
            <label class="mandatory">Fleet Owner</label>
            <select class="form-control" tabindex="-98" id="drpFleetOwner">
            </select>
        </div>
        <div class="col-lg-4">
            <label class="mandatory">Project Name</label>
            <input type="text" class="form-control m-input" name="proname" ng-model="project.Name" required />
            <span class="text-danger" ng-show="(frm.proname.$touched || frm.proname.$dirty && frm.proname.$invalid)">
                <span ng-show="frm.proname.$error.required">Enter project name</span>
            </span>
        </div>
        <div class="col-lg-4">
            <label class="col-10">
                <span class="m-list-settings__item-label">
                    Pool Vehicle
                </span>
            </label>
            <div class="m-list-settings__item col-2">
                <span class="m-list-settings__item-control">
                    <span class="m-switch m-switch--icon m-switch--success">
                        <label>
                            <input type="checkbox" ng-model="project.IsPoolVehicle">
                            <span></span>
                        </label>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group m-form__group row">

        <div class="col-lg-4">
            <label>Contact Name</label>
            <input type="text" class="form-control m-input" name="procontactname" ng-model="project.ContactName" />
        </div>
        <div class="col-lg-4">
            <label>Contact Phone#</label>
            <input type="text" class="form-control m-input" name="procontactphone" ng-model="project.ContactPhone" />
        </div>
        <div class="col-lg-4">
            <label>Address</label>
            <input type="text" class="form-control m-input" name="proaddress" ng-model="project.Address" />
        </div>

    </div>
    <div class="form-group m-form__group">
        <button ng-disabled="frm.$invalid" ng-click="update()" class="btn m-btn--square btn-success">Submit</button>
        <a href="/Project/ProjectList" class="btn m-btn--square btn-danger">Cancel</a>
        <p class="text-danger" style="display:none">Please fill all mandatory fields</p>
    </div>
</form>