
@{
    ViewBag.Title = "PendingCorporateUsers";
    ViewBag.MainMenu = "mApprovals";
    ViewBag.SubMenu = "sPendCorporateUsers";
}

@section controller {
    <script src="~/Angular/controllers/approvals/corporate-user-list.js"></script>
}

<div ng-controller="corporate_user_list">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group m-form__group">
                        <input class="form-control m-input form-control-sm" placeholder="First Name" ng-model="searchModel.firstName" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group m-form__group">
                        <input class="form-control m-input form-control-sm" placeholder="Last Name" ng-model="searchModel.lastName" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group m-form__group">
                        <input class="form-control m-input form-control-sm" placeholder="Email" ng-model="searchModel.email" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group m-form__group">
                        <input class="form-control m-input form-control-sm" ng-phone placeholder="Phone Number" ng-model="searchModel.phoneNumber" />
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group m-form__group">
                <button ng-click="search()" type="button" class="btn btn-brand m-btn m-btn--custom btn-sm">
                    Search
                </button>
                <button type="button" ng-click="clearSearch()" class="btn btn-danger m-btn m-btn--custom btn-sm">
                    Clear
                </button>
            </div>
        </div>
    </div>

    <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" id="local_data" style="position: static; zoom: 1; overflow-x:auto">
            <table class="m-datatable__table" style="display: block; min-height: 300px; min-width:858px; overflow-x: auto;">
                <thead class="m-datatable__head">
                    <tr class="m-datatable__row">
                        <th width="27%" class="m-datatable__cell m-datatable__cell--sort"><span>First Name</span></th>
                        <th width="20%" class="m-datatable__cell m-datatable__cell--sort"><span>Last Name</span></th>
                        <th width="21%" class="m-datatable__cell m-datatable__cell--sort"><span>Email</span></th>
                        <th width="15%" class="m-datatable__cell m-datatable__cell--sort"><span>Phone #</span></th>
                        <th width="17%" class="m-datatable__cell m-datatable__cell--sort"><span class="m--align-center">Actions</span></th>
                    </tr>
                </thead>
                <tbody class="m-datatable__body" style="">
                <tbody class="m-datatable__body" style="">
                    <tr ng-if="corporateUsers.length == 0" class="no-records-row">
                        <td>
                            No records found
                        </td>
                    </tr>
                    <tr class="m-datatable__row" ng-repeat="corporateUser in corporateUsers" style="left: 0px;">
                        <td width="27%" class="m-datatable__cell"><span>{{corporateUser.FirstName}}</span></td>
                        <td width="20%" class="m-datatable__cell"><span>{{corporateUser.LastName}}</span></td>
                        <td width="21%" class="m-datatable__cell"><span>{{corporateUser.EmailAddress}}</span></td>
                        <td width="15%" class="m-datatable__cell"><span>{{corporateUser.PhoneNo}}</span></td>
                        <td width="17%" class="m-datatable__cell">
                            <span style="overflow: visible; position: relative; text-align:center">
                                <a ng-click="approve(corporateUser.Id)" class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill" title="Approve">
                                    <i class="la la-check"></i>
                                </a>
                                <a ng-click="reject(corporateUser.Id)" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Reject">
                                    <i class="la la-close"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
            <ul class="m-datatable__pager-nav">
                <li>
                    <a title="First" ng-click="firstPage()"
                       class="m-datatable__pager-link m-datatable__pager-link--first"
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == 1}"><i class="la la-angle-double-left"></i></a>
                </li>
                <li>
                    <a title="Previous" ng-click="previousPage()"
                       class="m-datatable__pager-link m-datatable__pager-link--prev "
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == 1}"><i class="la la-angle-left"></i></a>
                </li>

                <li ng-repeat="i in [] | range:numOfPages" ng-if="(i <= maxSize)">
                    <a class="m-datatable__pager-link m-datatable__pager-link-number"
                       ng-class="{'m-datatable__pager-link--active': i == pageIndex}"
                       ng-click="pageChanged(i)">{{i}}</a>
                </li>

                <li ng-if="rightHide">
                    <a title="More pages" ng-click="morePages()" class="m-datatable__pager-link m-datatable__pager-link--more-prev">
                        <i class="la la-ellipsis-h"></i>
                    </a>
                </li>

                <li>
                    <a title="Next" ng-click="nextPage()" class="m-datatable__pager-link m-datatable__pager-link--next"
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == numOfPages}"><i class="la la-angle-right"></i></a>
                </li>
                <li>
                    <a title="Last" ng-click="lastPage()" class="m-datatable__pager-link m-datatable__pager-link--last"
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == numOfPages}"><i class="la la-angle-double-right"></i></a>
                </li>
            </ul>
            <div class="m-datatable__pager-info">
                <div style="width:100px" class="pull-left mr-2">
                    <select id="drpPage" class="form-control form-control-sm" ng-model="pageSizeSelected" ng-change="changePageSize()">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div class="pull-right mt-1">
                    <span class="m-datatable__pager-detail">Displaying {{((pageIndex -1) * pageSizeSelected) + 1}} - {{pageIndex * pageSizeSelected > totalCount ? totalCount : pageIndex * pageSizeSelected}} of {{totalCount}} records</span>
                </div>
            </div>
        </div>
    </div>
</div>

