
@{
    ViewBag.Title = "Pending Fleet Owners List";
    ViewBag.MainMenu = "mApprovals";
    ViewBag.SubMenu = "sPendFleet";
}

@section controller {
    <script src="~/Angular/controllers/approvals/fleet-owner-list.js"></script>
}

<div ng-controller="fleet_owner_list">
    <form autocomplete="off">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group m-form__group">
                    <input class="form-control m-input form-control-sm" placeholder="First Name" ng-model="searchModel.firstName" name="firstName" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group m-form__group">
                    <input class="form-control m-input form-control-sm" placeholder="Last Name" name="lastName" ng-model="searchModel.lastName" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group m-form__group">
                    <input class="form-control m-input form-control-sm" placeholder="Company Name" ng-model="searchModel.companyName" name="companyName" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group m-form__group">
                    <input class="form-control m-input form-control-sm" placeholder="Email" name="email" ng-model="searchModel.email" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group m-form__group">
                    <input class="form-control m-input form-control-sm" placeholder="Phone Number" name="phoneNumber" ng-phone ng-model="searchModel.phoneNumber" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group m-form__group">
                    <button type="button" ng-click="search()" class="btn btn-brand m-btn m-btn--custom btn-sm">
                        Search
                    </button>
                    <button type="button" ng-click="clearSearch()" class="btn btn-danger m-btn m-btn--custom btn-sm">
                        Clear
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" id="local_data" style="position: static; zoom: 1;">
        <table class="m-datatable__table" style="display: block; min-height: 300px; overflow-x: auto;">
            <thead class="m-datatable__head">
                <tr class="m-datatable__row">
                    <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Corporate User</span></th>
                    <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">First Name</span></th>
                    <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Last Name</span></th>
                    <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Email</span></th>
                    <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Company</span></th>
                    <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Phone #</span></th>
                    <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 90px;">Actions</span></th>
                </tr>
            </thead>
            <tbody class="m-datatable__body" style="">
                <tr ng-if="totalCount <= 0" class="no-records-row">
                    <td>
                        No records found
                    </td>
                </tr>
                <tr class="m-datatable__row" style="left: 0px;" ng-repeat="fleetOwner in fleetOwners">
                    <td class="m-datatable__cell"><span style="width: 110px;">{{fleetOwner.UserCorporateName}}</span></td>
                    <td class="m-datatable__cell"><span style="width: 110px;">{{fleetOwner.FirstName}}</span></td>
                    <td class="m-datatable__cell"><span style="width: 110px;">{{fleetOwner.LastName}}</span></td>
                    <td class="m-datatable__cell"><span style="width: 100px;">{{fleetOwner.EmailAddress}}</span></td>
                    <td class="m-datatable__cell"><span style="width: 110px;">{{fleetOwner.CompanyName}}</span></td>
                    <td class="m-datatable__cell"><span style="width: 110px;">{{fleetOwner.PhoneNo}}</span></td>
                    <td class="m-datatable__cell">
                        <span style="overflow: visible; position: relative; width: 90px;">
                            <a ng-click="approve(fleetOwner.Id)" class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill" title="Approve">
                                <i class="la la-check"></i>
                            </a>
                            <a ng-click="reject(fleetOwner.Id)" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Reject">
                                <i class="la la-close"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
            <ul class="m-datatable__pager-nav">
                <li>
                    <a title="First" ng-click="firstPage()"
                       class="m-datatable__pager-link m-datatable__pager-link--first"
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == 1}"><i class="la la-angle-double-left"></i></a>
                </li>
                <li>
                    <a title="Previous" ng-click="previousPage()"
                       class="m-datatable__pager-link m-datatable__pager-link--prev "
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == 1}"><i class="la la-angle-left"></i></a>
                </li>

                <li ng-repeat="i in [] | range:numOfPages" ng-if="(i <= maxSize)">
                    <a class="m-datatable__pager-link m-datatable__pager-link-number"
                       ng-class="{'m-datatable__pager-link--active': i == pageIndex}"
                       ng-click="pageChanged(i)">{{i}}</a>
                </li>

                <li ng-if="rightHide">
                    <a title="More pages" ng-click="morePages()" class="m-datatable__pager-link m-datatable__pager-link--more-prev">
                        <i class="la la-ellipsis-h"></i>
                    </a>
                </li>

                <li>
                    <a title="Next" ng-click="nextPage()" class="m-datatable__pager-link m-datatable__pager-link--next"
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == numOfPages}"><i class="la la-angle-right"></i></a>
                </li>
                <li>
                    <a title="Last" ng-click="lastPage()" class="m-datatable__pager-link m-datatable__pager-link--last"
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == numOfPages}"><i class="la la-angle-double-right"></i></a>
                </li>
            </ul>
            <div class="m-datatable__pager-info">
                <div style="width:100px" class="pull-left mr-2">
                    <select id="drpPage" class="form-control form-control-sm" ng-model="pageSizeSelected" ng-change="changePageSize()">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div class="pull-right mt-1">
                    <span class="m-datatable__pager-detail">Displaying {{((pageIndex -1) * pageSizeSelected) + 1}} - {{pageIndex * pageSizeSelected > totalCount ? totalCount : pageIndex * pageSizeSelected}} of {{totalCount}} records</span>
                </div>
            </div>
        </div>
    </div>
</div>

