
@{
    ViewBag.Title = "User List";
    ViewBag.MainMenu = "mUser";
    ViewBag.SubMenu = "sUserList";
}

@section controller {
    <script src="~/Angular/controllers/user/user-list.js"></script>
}

<div ng-controller="user_list">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group m-form__group">
                        <input ng-model="searchModel.firstName" class="form-control m-input form-control-sm" placeholder="First Name" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group m-form__group">
                        <input ng-model="searchModel.lastName" class="form-control m-input form-control-sm" placeholder="Last Name" />
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="form-group m-form__group">
                        <input ng-model="searchModel.email" class="form-control m-input form-control-sm" placeholder="Email" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group m-form__group">
                        <input ng-model="searchModel.phone" ng-phone class="form-control m-input form-control-sm" placeholder="Phone #" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group m-form__group">
                <button ng-click="search()" type="button" class="btn btn-brand m-btn m-btn--custom btn-sm">
                    Search
                </button>
                <button type="button" ng-click="clearSearch()" class="btn btn-danger m-btn m-btn--custom btn-sm">
                    Clear
                </button>
            </div>
        </div>
    </div>

    <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" id="local_data" style="position: static; zoom: 1;">
        <table class="m-datatable__table" style="display: block; min-height: 300px; overflow-x: auto;">
            <thead class="m-datatable__head">
                <tr class="m-datatable__row">
                    <th  class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">First Name</span></th>
                    <th  class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Last Name</span></th>
                    <th  class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">Email</span></th>
                    <th  class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Phone #</span></th>
                    <th  class="m-datatable__cell m-datatable__cell--sort m--align-center"><span style="width: 110px;">Type</span></th>
                    <th  class="m-datatable__cell m-datatable__cell--sort m--align-center"><span style="width: 110px;">Status</span></th>
                    <th  class="m-datatable__cell m-datatable__cell--sort m--align-center"><span style="width: 110px;">Actions</span></th>
                </tr>
            </thead>
            <tbody class="m-datatable__body" style="">
                <tr ng-if="users.length == 0" class="no-records-row">
                    <td>
                        No records found
                    </td>
                </tr>
                <tr class="m-datatable__row" style="left: 0px;" ng-repeat="user in users">
                    <td  class="m-datatable__cell"><span style="width: 110px;">{{user.FirstName}}</span></td>
                    <td  class="m-datatable__cell"><span style="width: 110px;">{{user.LastName}}</span></td>
                    <td  class="m-datatable__cell"><span style="width: 100px;">{{user.Email}}</span></td>
                    <td  class="m-datatable__cell"><span style="width: 110px;">{{user.PhoneNo}}</span></td>

                    <td class="m-datatable__cell m--align-center">
                        <span style="width: 110px;">
                            <span ng-if="user.UserType == 0" class="m-badge m-badge--type m-badge--wide">Data Entry Operator</span>
                            <span ng-if="user.UserType == 1" class="m-badge m-badge--type m-badge--wide">Approval Manger</span>
                            <span ng-if="user.UserType == 2" class="m-badge m-badge--type m-badge--wide">Finance Manger</span>
                        </span>
                    </td>

                    <td  class="m-datatable__cell m--align-center">
                        <span style="width: 110px;">
                            <span ng-if="user.Status == 0" class="m-badge m-badge--warning m-badge--wide">Waiting for approval</span>
                            <span ng-if="user.Status == 1" class="m-badge m-badge--approved m-badge--wide">Approved</span>
                            <span ng-if="user.Status == 2" class="m-badge m-badge--danger m-badge--wide">Rejected</span>
                        </span>
                    </td>

                    <td  class="m-datatable__cell m--align-center">
                        <span style="overflow: visible; position: relative; text-align:center; width: 110px;">
                            <a ng-href="{{(user.Status == 0 ? '/User/EditUser/' + user.Id : '')}}" ng-class="{'disabled': user.Status != 0}"
                               class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit">
                                <i class="la la-edit"></i>
                            </a>
                            <a ng-click="showImage(user.Id)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="View Image">
                                <i class="la la-eye"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
            <ul class="m-datatable__pager-nav">
                <li>
                    <a title="First" ng-click="firstPage()"
                       class="m-datatable__pager-link m-datatable__pager-link--first"
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == 1}"><i class="la la-angle-double-left"></i></a>
                </li>
                <li>
                    <a title="Previous" ng-click="previousPage()"
                       class="m-datatable__pager-link m-datatable__pager-link--prev "
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == 1}"><i class="la la-angle-left"></i></a>
                </li>

                <li ng-repeat="i in [] | range:numOfPages" ng-if="(i <= maxSize)">
                    <a class="m-datatable__pager-link m-datatable__pager-link-number"
                       ng-class="{'m-datatable__pager-link--active': i == pageIndex}"
                       ng-click="pageChanged(i)">{{i}}</a>
                </li>

                <li ng-if="rightHide">
                    <a title="More pages" ng-click="morePages()" class="m-datatable__pager-link m-datatable__pager-link--more-prev">
                        <i class="la la-ellipsis-h"></i>
                    </a>
                </li>

                <li>
                    <a title="Next" ng-click="nextPage()" class="m-datatable__pager-link m-datatable__pager-link--next"
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == numOfPages}"><i class="la la-angle-right"></i></a>
                </li>
                <li>
                    <a title="Last" ng-click="lastPage()" class="m-datatable__pager-link m-datatable__pager-link--last"
                       ng-class="{'m-datatable__pager-link--disabled': pageIndex == numOfPages}"><i class="la la-angle-double-right"></i></a>
                </li>
            </ul>
            <div class="m-datatable__pager-info">
                <div style="width:100px" class="pull-left mr-2">
                    <select id="drpPage" class="form-control form-control-sm" ng-model="pageSizeSelected" ng-change="changePageSize()">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div class="pull-right mt-1">
                    <span class="m-datatable__pager-detail">Displaying {{((pageIndex -1) * pageSizeSelected) + 1}} - {{pageIndex * pageSizeSelected > totalCount ? totalCount : pageIndex * pageSizeSelected}} of {{totalCount}} records</span>
                </div>
            </div>
        </div>

        <div class="modal fade" id="image-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header p-2 pl-3">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{imgModal.title}}</h5>
                    </div>
                    <div class="modal-body p-1">
                        <img style="height: 100%; width:100%;" ng-src="{{imgModal.src}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>